* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    text-align: center;
}

a{
    color: grey;
    text-decoration: none;
    font-size: 18px;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

p {
    color: #a8a8a9;
    font-size: 18px;
    align-self: flex-start;
    margin-top: 0;
}

.andrew-image {
    width: 600px;
}

.header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0px 0px 250px;
}

.menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0px 250px 0px 0px;
    gap: 50px;
}

.main-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 70px 250px 70px 250px;
}

.inside {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.btn {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: grey;
    transition: background-color 0.3s ease;
}

.second-part {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.second-title {
    color: black;
    margin-top: 0;
    margin-bottom: 35px;
}

.images {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin: auto;
}

.images .element {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.images .element .image {
    width: 150px; 
    height: auto; 
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.images .element .text {
    width: 150px; 
    height: auto; 
    text-align: center;
    margin-top: 5px;
}

.third-part {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 100px 230px 100px 230px;
}

.third-part .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: auto;
    font-weight: 100;
}

.third-part .name {
    font-size: 30px;
    color: black;
    align-self: flex-end;
    margin-right: 200px;
}

.fourth-part {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.fourth-part .card{
    display: flex;
    flex-direction: row;
    padding: 40px 80px 30px 80px;
    background-color: #3882F6;
    border-radius: 10px;
}

.fourth-part .card p {
    color: white;
    font-size: 18px;
    align-self: center;
}

.fourth-part .card .title {
    font-size: 24px;
    font-weight: bold;
}

.fourth-part .btn {
    background-color:#3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
    margin-left: 40px;
    border: 3px solid white;
}

.fourth-part .btn:hover {
    background-color: white;
    color:#3882F6;
    transition: background-color 0.3s ease;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.bottom p {
    color: #a8a8a9;
    font-size: 18px;
    align-self: center;
}